# Arquivos gerados pelo Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Banco de dados local
*.db

# Ambientes virtuais
venv/
.venv/
env/

# Configuracoes de editor / SO
.vscode/
.idea/
.DS_Store
